@page "/counter"
@using SolveMathApp.ServerApp.Providers
@using System.IdentityModel.Tokens.Jwt
@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [Authorize] 

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>@UserName</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private string? UserName;

 
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            UserName = user.FindFirst(JwtRegisteredClaimNames.UniqueName)?.Value;
        }
    }
}
